This Notebook is created mainly for the Capstone project work towards the completion of the IBM Data Science Professional Certicate Specialization.

In [2]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course")

# Week 3

#### To Web Scrape pandas read_html method is used. This method returns a list of all dataframe objects in the web page.

In [15]:
d=pd.read_html(r'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0) #to read in the html data
print('Data downloaded!')

Data downloaded!

#### The required data is the first element of this list and this is used to make the dataframe

In [16]:
df=d[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### As we can see there are several "Not Assigned" Values for Boroughs which need to be ignored and is droppped using the drop() method

In [26]:
df.drop(df[df.Borough== "Not assigned"].index, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#### More than one neighborhood can exist in one postal code area. These rows are combined into one row with the neighborhoods separated with a comma.

In [41]:
data=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(' , '.join)
data=data.reset_index()
data.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                           Rouge , Malvern
1      M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
2      M1E  Scarborough       Guildwood , Morningside , West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

#### A new dataframe is created with combined rows. to know the dimensions of the new dataframe shape function is passed

In [44]:
data.shape

(103, 3)