This Notebook is created mainly for the Capstone project work towards the completion of the IBM Data Science Professional Certicate Specialization.

In [2]:
import pandas as pd
import numpy as np
print("Hello Capstone Project Course")

Hello Capstone Project Course

# Week 3

#### To Web Scrape pandas read_html method is used. This method returns a list of all dataframe objects in the web page.

In [3]:
d=pd.read_html(r'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0) #to read in the html data
print('Data downloaded!')
d

Data downloaded!

[    Postcode           Borough  \
 0        M1A      Not assigned
 1        M2A      Not assigned
 2        M3A        North York
 3        M4A        North York
 4        M5A  Downtown Toronto
 5        M5A  Downtown Toronto
 6        M6A        North York
 7        M6A        North York
 8        M7A      Queen's Park
 9        M8A      Not assigned
 10       M9A         Etobicoke
 11       M1B       Scarborough
 12       M1B       Scarborough
 13       M2B      Not assigned
 14       M3B        North York
 15       M4B         East York
 16       M4B         East York
 17       M5B  Downtown Toronto
 18       M5B  Downtown Toronto
 19       M6B        North York
 20       M7B      Not assigned
 21       M8B      Not assigned
 22       M9B         Etobicoke
 23       M9B         Etobicoke
 24       M9B         Etobicoke
 25       M9B         Etobicoke
 26       M9B         Etobicoke
 27       M1C       Scarborough
 28       M1C       Scarborough
 29       M1C       Scarborough
 ..       ...               ...
 258      M9X      Not assigned
 259      M1Y      Not assigned
 260      M2Y      Not assigned
 261      M3Y      Not assigned
 262      M4Y  Downtown Toronto
 263      M5Y      Not assigned
 264      M6Y      Not assigned
 265      M7Y      East Toronto
 266      M8Y         Etobicoke
 267      M8Y         Etobicoke
 268      M8Y         Etobicoke
 269      M8Y         Etobicoke
 270      M8Y         Etobicoke
 271      M8Y         Etobicoke
 272      M8Y         Etobicoke
 273      M8Y         Etobicoke
 274      M9Y      Not assigned
 275      M1Z      Not assigned
 276      M2Z      Not assigned
 277      M3Z      Not assigned
 278      M4Z      Not assigned
 279      M5Z      Not assigned
 280      M6Z      Not assigned
 281      M7Z      Not assigned
 282      M8Z         Etobicoke
 283      M8Z         Etobicoke
 284      M8Z         Etobicoke
 285      M8Z         Etobicoke
 286      M8Z         Etobicoke
 287      M9Z      Not assigned

                                          Neighbourhood
 0                                         Not assigned
 1                                         Not assigned
 2                                            Parkwoods
 3                                     Victoria Village
 4                                         Harbourfront
 5                                          Regent Park
 6                                     Lawrence Heights
 7                                       Lawrence Manor
 8                                         Not assigned
 9                                         Not assigned
 10                                    Islington Avenue
 11                                               Rouge
 12                                             Malvern
 13                                        Not assigned
 14                                     Don Mills North
 15                                    Woodbine Gardens
 16                                       Parkview Hill
 17                                             Ryerson
 18                                     Garden District
 19                                           Glencairn
 20                                        Not assigned
 21                                        Not assigned
 22                                          Cloverdale
 23                                           Islington
 24                                        Martin Grove
 25                                    Princess Gardens
 26                                     West Deane Park
 27                                      Highland Creek
 28                                          Rouge Hill
 29                                          Port Union
 ..                                                 ...
 258                                       Not assigned
 259                                       Not assigned
 260                                       Not assigned
 261                                       Not assigned
 262                               Church and Wellesley
 263                                       Not assigned
 264                                       Not assigned
 265  Business Reply Mail Processing Centre 969 Eastern
 266                                         Humber Bay
 267                                   King's Mill Park
 268                           Kingsway Park South East
 269                                          Mimico NE
 270                                     Old Mill South
 271                                 The Queensway East
 272                              Royal York South East
 273                                           Sunnylea
 274                                       Not assigned
 275                                       Not assigned
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                                       Not assigned
 282                           Kingsway Park South West
 283                                          Mimico NW
 284                                 The Queensway West
 285                              Royal York South West
 286                                     South of Bloor
 287                                       Not assigned

 [288 rows x 3 columns],
                                           Unnamed: 0 Canadian postal codes  \
 0  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                    NL
 1                                                 NL                    NS
 2                                                  A                     B

   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
 0         NS         PE         NB         QC         ON         MB
 1         PE         NB         QC         ON         MB         SK
 2          C          E          G          H          J          K

   Unnamed: 8 Unnamed: 9     ...     Unnamed: 21 Unnamed: 22 Unnamed: 23  \
 0         SK         AB     ...               L           M           N
 1         AB         BC     ...             NaN         NaN         NaN
 2          L          M     ...             NaN         NaN         NaN

   Unnamed: 24 Unnamed: 25 Unnamed: 26 Unnamed: 27 Unnamed: 28 Unnamed: 29  \
 0           P           R           S           T           V           X
 1         NaN         NaN         NaN         NaN         NaN         NaN
 2         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 30
 0           Y
 1         NaN
 2         NaN

 [3 rows x 31 columns],
   NL NS PE NB QC ON MB SK AB BC NU/NT YT Unnamed: 12 Unnamed: 13 Unnamed: 14  \
 0  A  B  C  E  G  H  J  K  L  M     N  P           R           S           T

   Unnamed: 15 Unnamed: 16 Unnamed: 17
 0           V           X           Y  ]

#### The required data is the first element of this list and this is used to make the dataframe

In [16]:
df=d[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### As we can see there are several "Not Assigned" Values for Boroughs which need to be ignored and is droppped using the drop() method

In [26]:
df.drop(df[df.Borough== "Not assigned"].index, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

#### More than one neighborhood can exist in one postal code area. These rows are combined into one row with the neighborhoods separated with a comma.

In [41]:
data=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(' , '.join)
data=data.reset_index()
data.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                           Rouge , Malvern
1      M1C  Scarborough  Highland Creek , Rouge Hill , Port Union
2      M1E  Scarborough       Guildwood , Morningside , West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

#### A new dataframe is created with combined rows. to know the dimensions of the new dataframe shape function is passed

In [44]:
data.shape

(103, 3)